<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <link rel="stylesheet" href="/styles/main.css" />
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="/scripts/bulma.js" defer></script>
        <script src="/scripts/main.js" defer></script>
        <title>SellItUp</title>
    </head>
    <body class="has-navbar-fixed-top">
        <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
        <nav
            class="navbar is-dark is-fixed-top"
            role="navigation"
            aria-label="main navigation"
        >
        <div class="navbar-brand">
            <a class="navbar-item" href="/products"> All Products </a>
            <a
                role="button"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        </nav>
        <section class="hero-is-medium has-background-light">
            <div class="hero-body">
                <h1 class="title">New Product page</h1>
            </div>
        </section>
            <form action="/products" method="POST">
                <div class="field">
                    <label class="label">Product Name</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="My new favorite product"
                            name="name"
                        />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Product Price</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="32" name="price" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Product Image</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="http://"
                            name="image"
                        />
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">Create Product</button>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>