<!DOCTYPE html>
<html lang=“en”>
    <head>
        <meta charset=“UTF-8" />
        <meta http-equiv=“X-UA-Compatible” content=“IE=edge” />
        <meta name=“viewport” content=“width=device-width, initial-scale=1.0" />
        <!-- <link rel=“stylesheet” href=“/styles/main.css” /> -->
        <title>Create Lab</title>
    </head>
    <body >
        <nav class=“navbar “>
        <div class=“navbar-brand”>
            <a class=“navbar-item” href=“/products”> All Products </a>
            <a class=“navbar-burger”>
                <span aria-hidden=“true”></span>
                <span aria-hidden=“true”></span>
                <span aria-hidden=“true”></span>
            </a>
        </div>
        <div class=“navbar-menu “>
          <a class=“navbar-item” href=“/products/new”> New Product </a>
        </div>
      </nav>
        <main class=“”>
            <div class=“”>
                <% for(let idx = 0; idx < products.length; idx++){ %> <% const product =
                products[idx] %>
                            <img class=“img-rounded-circle”  width=“400" height=“400” src=“<%= product.image %>” alt=“Placeholder image” />
                                    <h3>
                                    <a href=“/products/<%= product.id %>“><%= product.name %> </a>
                                    </h3>
                                    <p>$<%= product.price %></p>
                <% } %>
            </div>
        </main>
    </body>
</html>